.contents div p{
    position: sticky;
    top: 50px;
}
.contents div span{
    width: 100vw;
    left: 0;
}
.content1 span{
    position: absolute;
}
@keyframes OpacityHalf {
    0%{
        
    }
    100%{
        opacity: .5;
    }
}
.opacityHalfAnimetion{
    animation: OpacityHalf .5s ease-in-out forwards;
}
@keyframes lidOpen {
    0%{
        opacity: 1;
    }
    100%{
        transform: translateY(-50vh);
        opacity: 0;
    }
}
.lidOpenAnimetion{
    animation: lidOpen 1s ease-in-out forwards;
}
@keyframes WaterAdd {
    0%{
        opacity: 0;
    }
    50%{
        transform: translateY(0);
    }
    100%{
        opacity: 1;
    }
}
.waterAddAnimetion{
    animation: WaterAdd 1s ease-in-out forwards;
}
@keyframes canXVibration {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(1px);
    }
    20%{
        transform: translateX(-1px);
    }
    30%{
        transform: translateX(1px);
    }
    40%{
        transform: translateX(-1px);
    }
    50%{
        transform: translateX(1px);
    }
    60%{
        transform: translateX(-1px);
    }
    70%{
        transform: translateX(1px);
    }
    80%{
        transform: translateX(-1px);
    }
    90%{
        transform: translateX(-1px);
    }
    100%{
        transform: translateX(0);
    }
}
.canVibration{
    animation: canXVibration 1s ease-in-out forwards;
    opacity: .5;
}
@keyframes H2OOpacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.H2O{
    animation-delay: 0s,.1s;
    opacity: 0;
    transform: translateX(10vw);
}
@keyframes H2O_1Vibration {
    0%{
        rotate: 0;
        transform: translate(5vw,9vh);
    }
    20%{
        transform: translate(-5vw,6vh);
    }
    40%{
        transform: translate(5vw,3vh);
    }
    60%{
        transform: translate(-5vw,-3vh);
    }
    80%{
        transform: translate(5vw,-6vh);
    }
    100%{
        transform: translate(-5vw,-9vh);
    }
}
.H2O_1Animetion{
    animation: H2OOpacity 1s ease-in-out forwards,H2O_1Vibration .8s ease-in-out forwards infinite alternate;
}